{% extends "base.html" %}

{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory</title>
</head>
<body>
    <script>
        let reversed = false;

        // Reverse inventory ascending / descending
        function reverseLists(){
            if(!reversed){
                reversed = true;
                document.querySelectorAll(".list1").forEach(x => x.style.display = "none");
                document.querySelectorAll(".list2").forEach(x => x.style.display = "flex");
            }
            else{
                reversed = false;
                document.querySelectorAll(".list1").forEach(x => x.style.display = "flex");
                document.querySelectorAll(".list2").forEach(x => x.style.display = "none");
            }
        }
    </script>
    <div class="container mt-5">
		<!-- Dropdown for sorting options -->
        <div class="dropdown mb-4">
            <div class="row align-items-center">
                <div class="col-auto">
                    <button class="btn btn-secondary dropdown-toggle" type="button" 
                            id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                        Sort by: {{ sort_key.capitalize() }}
                    </button>
                    <ol class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li><a class="dropdown-item" href="/inventory?sort=name&search_query={{ search_query }}">Name</a></li>
                        <li><a class="dropdown-item" href="/inventory?sort=qty&search_query={{ search_query }}">Quantity</a></li>
                    </ol>
                </div>

                <!-- Reverse order button -->
                <div class="col-auto">
                    <button class="btn btn-secondary" type="button" id="reverseButton" style="font-size:50%;"
                    onclick="reverseLists()">Ascending<br>Descending
                    </button>
                </div>

                <!-- Search -->
                <div class="col">
                    <form class="d-flex align-items-center" method="POST" action="/inventory">
                        <input class="form-control me-2" type="search" placeholder="Search Name" aria-label="Search" name="search_query">
                        <button class="btn btn-outline-success me-2 text-nowrap" type="submit">Search Inventory</button>
                    </form>
                </div>
            </div>
        </div>
		
		<!-- Modify Inventory -->
		<button class="btn btn-secondary" type="button" id="modInvenButton" 
			data-bs-toggle="modal" data-bs-target="#modInvenModal">Modify Inventory
		</button> 
		<!-- Modify Inventory Modal -->
		<div class="modal fade" id="modInvenModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="modalLabel">Modify Inventory</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<form action="inventory/modify_inventory" method="POST">
						<div class="modal-body">
							<!-- Input fields inside the modal -->
							<div class="mb-3">
							  <label for="autocompleteInput" class="form-label">Drug Name:</label>
							  <input type="text" class="form-control" id="name", name="name" list="suggestionsList" placeholder="Enter Drug Name">
							  
							  <!-- Datalist for suggestions -->
							  <datalist id="suggestionsList">
								{% for drug in drug_inventory %}
								<option value="{{ drug.name }}">
								{% endfor %}
								<!-- Add more options as needed -->
							  </datalist>
							</div>
							<div class="mb-3">
								<label for="qty" class="form-label">Quantity</label>
								<input type="number" class="form-control" id="qty" name="qty" step="any">
							</div>
							<div class="mb-3">
								<label for="mode" class="form-label">Mode</label>
								<select type="text" class="form-control" id="mode" name="mode" required>
									<option value="" disabled selected>Select an option</option>
									<option value="set">Set</option>
									<option value="change">Add/Remove</option>
								</select>
							</div>
						</div>
						<div class="modal-footer">
							<!-- Cancel button -->
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
							<!-- Confirm button -->
							<button type="submit" class="btn btn-primary">Confirm</button>
						</div>
					</form>
				</div>
			</div>
		</div>

        <!-- Display cards with order information in each -->
        <div class="row list1" style="display: flex;">
            {% for drug in drug_inventory %}
            <div class="col-md-4 mb-4">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">{{ drug.name }}</h5>
                        <p class="card-text">
							<strong>Quantity:</strong> {{ drug.qty }} <br>
                        </p>
                        <p class="card-text text-right">
							Expires: {{ drug.expires }} <br>
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="row list2" style="display: none;">
            {% for drug in drug_inventory_reversed %}
            <div class="col-md-4 mb-4">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">{{ drug.name }}</h5>
                        <p class="card-text">
							<strong>Quantity:</strong> {{ drug.qty }} <br>
                        </p>
                        <p class="card-text text-right">
							Expires: {{ drug.expires }} <br>
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
{% endblock %}